* {
  padding: none;
  border: none;
  outline: none;
  text-decoration: none;
  font-family: "Comfortaa", monospace;
  color: black;
}

body {
  background-color: #c6d3e3;
}

.button {
  background-color: #304674;
  color: #c6d3e3;
  height: 37px; 
  width: 100px;
  border-radius: 15px;
  cursor: pointer;
}

.input-field {
  border-radius: 5px;
  height: 28px;
  padding-left: 6px;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: #304674;
}

.hover-underline-animation::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #304674;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
