#login-page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#login-element-container {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #98bad5;
  width: 425px;
  height: 425px;
  border-radius: 10px;
  top: 110px;
}

#echo-note-title {
  font-family: "Ribeye";
  position: relative;
  top: 50px;
}

#logo {
  position: absolute;
  left: 35px;
  top: 20px;
  width: 64px;
  height: 64px;
}

#login-title {
  position: relative;
  bottom: 40px;
}

#invalid-login-error {
  position: absolute;
  font-size: small;
  background-color: pink;
  border: red 0.5px dotted;
  padding: 3px;
  bottom: -50px;
}

#login-form {
  position: relative;
  bottom: 20px;
  display: flex;
  flex-direction: column;
}

#show-password {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center;
}

#show-password:disabled {
  opacity: 25%;
}

#show-password > h3 {
  font-size: x-small;
  margin-left: 5px;
}

#login-button {
  align-self: center;
  transition-duration: 100ms;
  transition-timing-function: ease-in-out;
}

#login-button:disabled {
  opacity: 25%;
  cursor: default;
}

#login-button:hover:enabled {
  box-shadow: 1px 1px 8px grey;
}

#signup-page-button {
  position: absolute;
  bottom: 27px;
  font-size: small;
}

.input-field {
  width: 250px;
  transition-duration: 150ms;
  transition-timing-function: ease-in;
}

.input-field:disabled {
  opacity: 35%;
}

.input-field:focus {
  box-shadow: 1px 1px 8px 1px grey;
}

input {
  margin: 10px 0;
}

label {
  font-size: smaller;
}
